<h2 class="top">Change Your Search</h2>
<form action="/businesses" method="post">
  <div class="left">Location:</div>
  <div class="right"><input type="text" name="location"></div>
  <br><br>
  <div class="left">Cuisine:</div>
  <div class="right"><input type="text" name="cuisine"></div>
  <br><br>
  <input type="submit" value="Search Again" class="button">
</form>
<br><br>
<h2>Restaurant Search Results</h2>
<h5>(Choose which restaurants you would like to save)</h5 >
<form  action="/restaurants/results" method="post">
  <% @businesses.each do |business| %>
    <input type="checkbox" name="yelp_ids[]" value="<%= business.yelp_id %>">
    <b>Name: <%= business.name %></b>

    <p>Rating: <%= business.rating %> from <%= business.review_count %> reviews </p>
    <p>Address: <%= business.formatted_address %><p>
    <br>
  <% end %>
  <input type="submit" value="Add to Database" class="button">
</form>
