<h2 class="top">Name: <%= @user.name %></h2>
<h3>Restaurants to try</h3>
<ul>
  <% @user.restaurants.each do |restaurant| %>
  <li><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></li>
  <% end %>
</ul>
<br>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete User" class="button">
</form>
<form action="/users/<%= @user.id %>/edit" method="get">
  <input type="submit" value="Edit User" class="button">
</form>
